*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* -moz-appearance: checkbox; */
  /* -webkit-appearance: checkbox; */
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: #525252; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3d72b4,
    #525252
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3d72b4,
    #525252
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app-container {
  display: grid;
  place-items: center;
  gap: 1rem;
  min-width: 80%;
  padding: 2rem;
  background-color: rgb(33, 96, 173, 0.4);
  box-shadow: 0 0 8rem rgba(0, 0, 0, 0.7);
}

.app-container .app-password-field {
  font-size: 2.1rem;
  font-weight: 900;
  color: rgb(59, 141, 129);
  margin-bottom: 1.4rem;

  transition: all 0.3s ease-in-out;
  position: relative;
  word-break: break-all;
}

.app-container .app-password-field::after {
  /* content: "";
  position: absolute;
  bottom: -12%;
  left: -5%;
  width: 50%;
  background-color: rgb(59, 141, 129);
  height: 4px; */
}

.checkbox-label {
  font-size: 1.3rem;
  font-weight: 200;
  letter-spacing: 0.08rem;

  position: relative;
  cursor: pointer;
}

.checkbox-label:last-of-type {
  margin-bottom: 3rem;
}

input[type="range"] {
  margin-top: -0.5rem;
  margin-bottom: 2rem;
  width: 60%;
}

input[type="submit"] {
  border: none;
  background: #1b4477;
  color: #bdbdbd;
  border-radius: 3px;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;

  transition: transform 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  outline: none;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#slider-character-count {
  font-size: 1.6rem;
  font-weight: 200;
}

.checkbox-custom {
  position: absolute;
  top: 0%;
  left: -5%;
  bottom: 0%;
  right: 0%;
  height: 130%;
  width: 110%;
  background-color: transparent;

  transition: transform 0.2s linear;
  transform-origin: bottom right;
  transform: scale(0);
}

/* UNCHECKED */

/* CHECKED */
input:checked ~ .checkbox-custom {
  transform: scale(1);
  border-bottom: 5px solid rgba(59, 141, 129, 0.6);
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  transform: scale(1.02);
}
